.img-size {
	width:100%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    overflow: hidden;
    background-color: grey;
    font-family: courier;
}
ul.topnav li {float: left;}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: courier;
}
ul.topnav li a:hover {background-color: #555;}

.main {
	margin-top:30px;
}